<dl class="word-morphology-summary" data-testid="word-morphology-summary">
  <div class="word-morphology-summary__column">
    <dt>نوع الكلمة</dt>
    <dd>{{ morphologyTextOrDash(morphology().headPosLabel.ar) }}</dd>
  </div>
  <div class="word-morphology-summary__column">
    <dt>الجذر</dt>
    <dd>{{ morphologyTextOrDash(morphology().root?.text) }}</dd>
  </div>
  <div class="word-morphology-summary__column">
    <dt>الصيغة المعجمية</dt>
    <dd>{{ morphologyTextOrDash(morphology().lemma?.text) }}</dd>
  </div>
  <div class="word-morphology-summary__column">
    <dt>الأصل الصرفي</dt>
    <dd>{{ morphologyTextOrDash(morphology().stem?.text) }}</dd>
  </div>
</dl>
