<qd-tabs
  dir="rtl"
  layout="grid"
  [ariaLabel]="tabsLabel"
>
  @for (option of options; track option.value) {
    <button
      qdTab
      type="button"
      class="word-type-table-view-tabs__tab"
      [id]="tabId(option.value)"
      [panelId]="panelId()"
      [selected]="isSelected(option.value)"
      [disabled]="disabled()"
      [attr.disabled]="disabled() ? '' : null"
      [attr.data-testid]="'word-type-table-view-tab--' + option.value"
      (focus)="selectView(option.value)"
      (click)="selectView(option.value)"
    >
      {{ option.label }}
    </button>
  }
</qd-tabs>
