@use '../../../../../styles/breakpoints' as bp;

:host,
.abwab-door-links-list {
  display: block;
  min-block-size: 0;
  block-size: 100%;
  min-inline-size: 0;
}

.abwab-door-links-list__record {
  display: block;
  padding: var(--qd-space-2) var(--qd-space-3);
  border-block-end: var(--qd-hairline);
}

@media (min-width: bp.$qd-bp-wide-min) {
  .abwab-door-links-list__record {
    padding: var(--qd-s-2) var(--qd-space-2);
  }
}
