@if (errorMessage(); as error) {
  <qd-error-state severity="write" [reserve]="true" [message]="error" testId="qd-state-error" [attr.data-testid]="testIdPrefix() + '-error'" />
}

<qd-form-field class="abwab-door-fields-form__field abwab-door-fields-form__field--name" [label]="nameLabel" [required]="true">
  <input
    #nameInput
    cdkFocusInitial
    qdControl
    type="text"
    [value]="name()"
    (input)="onNameInput($event)"
    [attr.data-testid]="testIdPrefix() + '-name'"
  />
</qd-form-field>

<qd-form-field class="abwab-door-fields-form__field abwab-door-fields-form__field--description" [label]="descriptionLabel">
  <textarea
    qdControl
    rows="2"
    [placeholder]="descriptionPlaceholder"
    [value]="description()"
    (input)="onDescriptionInput($event)"
    [attr.data-testid]="testIdPrefix() + '-description'"
  ></textarea>
</qd-form-field>

<qd-form-field class="abwab-door-fields-form__field abwab-door-fields-form__field--ayah" [label]="ayahLabel" [helper]="ayahHint">
  <input
    qdControl
    type="text"
    [placeholder]="ayahPlaceholder"
    [value]="ayah()"
    (input)="onAyahInput($event)"
    [attr.data-testid]="testIdPrefix() + '-ayah'"
  />
</qd-form-field>

<qd-form-field class="abwab-door-fields-form__field abwab-door-fields-form__field--alias" [label]="aliasLabel">
  <input
    qdControl
    type="text"
    [placeholder]="aliasPlaceholder"
    [value]="aliasDraft()"
    (input)="onAliasDraftInput($event)"
    (keydown.enter)="onAliasEnter($event)"
    [attr.data-testid]="testIdPrefix() + '-alias-input'"
  />
</qd-form-field>

<div class="abwab-door-fields-form__chips">
  @for (alias of aliases(); track alias; let i = $index) {
    <qd-chip [removable]="true" [removeAriaLabel]="removeAliasLabel(alias)" (remove)="removeAliasAt(i)">
      {{ alias }}
    </qd-chip>
  }
</div>
