@if (errorMessage()) {
  <p class="abwab-door-fields-form__error" role="alert" [attr.data-testid]="testIdPrefix() + '-error'">
    {{ errorMessage() }}
  </p>
}

<div class="abwab-door-fields-form__field">
  <label [attr.for]="testIdPrefix() + '-name'">{{ nameLabel }} *</label>
  <input
    [id]="testIdPrefix() + '-name'"
    type="text"
    [value]="name()"
    (input)="onNameInput($event)"
    [attr.data-testid]="testIdPrefix() + '-name'"
  />
</div>

<div class="abwab-door-fields-form__field">
  <label [attr.for]="testIdPrefix() + '-description'">{{ descriptionLabel }}</label>
  <textarea
    [id]="testIdPrefix() + '-description'"
    rows="2"
    [placeholder]="descriptionPlaceholder"
    [value]="description()"
    (input)="onDescriptionInput($event)"
    [attr.data-testid]="testIdPrefix() + '-description'"
  ></textarea>
</div>

<div class="abwab-door-fields-form__field">
  <label [attr.for]="testIdPrefix() + '-ayah'">{{ ayahLabel }}</label>
  <input
    [id]="testIdPrefix() + '-ayah'"
    type="text"
    [placeholder]="ayahPlaceholder"
    [value]="ayah()"
    (input)="onAyahInput($event)"
    [attr.data-testid]="testIdPrefix() + '-ayah'"
  />
  <p class="abwab-door-fields-form__hint">{{ ayahHint }}</p>
</div>

<div class="abwab-door-fields-form__field">
  <label [attr.for]="testIdPrefix() + '-alias-input'">{{ aliasLabel }}</label>
  <input
    [id]="testIdPrefix() + '-alias-input'"
    type="text"
    [placeholder]="aliasPlaceholder"
    [value]="aliasDraft()"
    (input)="onAliasDraftInput($event)"
    (keydown.enter)="onAliasEnter($event)"
    [attr.data-testid]="testIdPrefix() + '-alias-input'"
  />
  <div class="abwab-door-fields-form__chips">
    @for (alias of aliases(); track alias; let i = $index) {
      <qd-chip [removable]="true" [removeAriaLabel]="removeAliasLabel(alias)" (remove)="removeAliasAt(i)">
        {{ alias }}
      </qd-chip>
    }
  </div>
</div>
