:host {
  display: block;
}

.explorer-panel-skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--qd-space-2);
  padding-block: var(--qd-space-2);
}

:host(.qd-panel-skeleton--panel-shape) {
  display: flex;
  flex-direction: column;
}

.explorer-panel-skeleton--panel {
  flex: 1;
  min-block-size: 0;

  .qd-skeleton--block {
    flex: 1;
  }
}
