<div class="explorer-toolbar__primary qd-toolbar__filters">
  <ng-content select="[qdExplorerToolbarPrimary]" />
</div>

<div class="explorer-toolbar__result qd-toolbar__result">
  <ng-content select="[qdExplorerToolbarResult]" />
</div>

<div class="explorer-toolbar__secondary qd-toolbar__actions">
  <ng-content select="[qdExplorerToolbarSecondary]" />
</div>

<div class="explorer-toolbar__applied qd-toolbar__applied" aria-live="polite">
  <ng-content select="[qdExplorerToolbarApplied]" />
</div>
