<qd-details-panel-shell
  testIdPrefix="root-details"
  [panelLabel]="rootsPanelLabel"
  [closeLabel]="closeLabel"
  [emptySelectionLabel]="emptySelectionLabel"
  [notFoundLabel]="notFoundLabel"
  [tabs]="tabs"
  [view]="view()"
  [inline]="inline()"
  [frameless]="frameless()"
  [emptySelection]="emptySelection()"
  [selectionTitle]="selectionTitle()"
  [loading]="loading()"
  [notFound]="notFound()"
  [notFoundMessage]="notFoundMessage()"
  (viewChange)="viewChange.emit($event)"
  (closed)="close.emit()"
>
  <ng-content />
</qd-details-panel-shell>
